simulator/sim.cbp
simulator/somefile
simulator/report.txt
simulator/log.txt
simulator/CMakeCache.txt
simulator/Makefile
simulator/cmake_install.cmake
simulator/VCUsage/
simulator/BuffUsage/
simulator/.idea/
simulator/CMakeFiles/
*.csv
*.pkl
sim
virtualenv/
__pycahce__/
/bin/*.xml
/bin/sim_folder/
