[submodule "TEMP_link_power"]
	path = TEMP_link_power
	url = https://github.com/jmjos/TEMP_link_power
[submodule "TEMP_3D_noc_router_impl"]
	path = TEMP_3D_noc_router_impl
	url = https://github.com/jmjos/TEMP_3D_noc_router_impl
